@charset "utf-8";
/*--- reset ---*/
body,dl,dt,dd,ul,ol,li,th,td,form,input,textarea,p {margin:0; padding:0;}
img {display:block; border:0;}
li {list-style:none}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
article,aside,canvas,figure,figure img,figcaption,footer,header,hgroup,menu,nav,section,audio,video {display:block; margin:0; padding:0;}

/*--- global ---*/
html {background-color:#071624; }
body {text-align:center; font-size:13px; line-height:23px; font-family:"微軟正黑體", "Microsoft JhengHei", sans-serif;}
h1,h2,h3,h4,h5,h6 {margin:0; line-height:110%;}
p {text-align:justify; text-justify:distribute;}
table {border-collapse:collapse; border-spacing:0; table-layout:fixed; border:1px solid #000;}
th {border:1px solid #000;}
td {border:1px solid #000;}
a {outline:none; text-decoration:none;}
.clear {clear:both;}
input {vertical-align:middle;}

div,a {background-repeat:no-repeat;}

/*--- container ---*/
.container {position:relative; width:100%; height:100vh; overflow:hidden;
background-color:#071624;
background-image:url("../images/stage.png"); background-position:center bottom; background-size:1920px auto;
}

.controller {width:360px; height:240px; position:fixed; bottom:0; z-index:600; 
/*box-shadow:0 0 2px blueviolet;*/
}
.controller.left {left:0;}
.controller.right {right:0; display:none;}

.controller:before {content:""; display:block; width:800px; height:800px; position:absolute; top:0;
background-color:#1c1d29; border-radius:100%;
}
.controller.left:before {right:-33px;}
.controller.right:before {left:-33px;}

.controller .btn {display:block; width:180px; height:180px; position:absolute; cursor:pointer;
border-radius:100%;
background-size:100% auto;  
}
.controller .shoe {bottom:14px; left:-24px;
background-image:url("../images/btn-shoe.png");
background-color:#2b2c3e;
}
.controller .flower {bottom:120px; right:24px;
background-image:url("../images/btn-flower.png");
background-color:#2b2c3e; 
}

.bullhorn {width:259px; height:305px; position:absolute; left:-50px; bottom:-50px;
background-image:url("../images/bullhorn.png"); background-size:100% auto;
}


/*--- stag scene ---*/
.bg {background-position:center bottom; background-size:1920px auto;}

.stage {width:100%; height:100vh; position:absolute; left:0; top:0; padding-bottom:280px; 
box-sizing:border-box;
/* padding-bottom:7%; */
/*box-shadow:0 0 2px goldenrod;*/
}

.candidate-wrapper {height:100%; position:relative; 
display:flex; align-items:flex-end; justify-content:space-around; flex-wrap:nowrap;
}

.audience {position:absolute; width:100%; height:303px; left:0; bottom:0; z-index:500; 
background-image:url("../images/audience.png"); background-repeat:repeat-x;
pointer-events:none;
/*box-shadow:0 0 2px green;*/
}

.curtains {width:181px; height:790px; position:absolute; bottom:33%;
background-size:181px auto;
transition:500ms; 
transition-property:filter;
/*box-shadow:0 0 2px goldenrod;*/
}
.curtains.left {left:0; background-image:url("../images/curtains-left.png"); background-position:left bottom;}
.curtains.right {right:0; background-image:url("../images/curtains-right.png"); background-position:right bottom;}

.dim .curtains {filter:brightness(30%) opacity(50%);}

.flag {width:219px; height:231px; position:absolute; top:10px;
background-size:219px auto;
transition:500ms; 
transition-property:filter;
/*box-shadow:0 0 2px aqua;*/
}
.flag.left {left:-5px; background-image:url("../images/flag-left.png"); background-position:left top;}
.flag.right {right:-5px; background-image:url("../images/flag-right.png"); background-position:right top;}

.dim .flag {filter:brightness(30%) opacity(90%);}

/* --- stage overlay ---*/
#stageMask {width:100vw; height:100vh; position:fixed; left:0; top:0;
background-color:rgba(7,22,36,0.9); pointer-events:none; 
opacity:0; transition:opacity 500ms; 
}
.dim #stageMask {opacity:1;}

/*--- candidate ---*/
.candidate {height:529px; position:relative; z-index:400; cursor:pointer;
transition:500ms; 
transition-property:filter;
pointer-events:none; 
/*box-shadow:0 0 2px appworkspace;*/
}
.dim .candidate {filter:brightness(25%) opacity(98%) saturate(80%);}
.dim .candidate.active {filter:none;}

.candidate-scalewpr {position:relative; height:100%;
pointer-events:auto; 
}

.podium {width:190px; height:233px; position:absolute; left:50%; bottom:0; margin-left:-95px; 
background-image:url("../images/podium.png"); background-size:100% auto; 
}
.podium:before {content:""; display:block; width:350px; height:150px; position:absolute; left:50%; margin-left:-68px; bottom:-150px; 
background-image:url("../images/podium-shadow.png"); background-size:100% auto;
}

.candidate .avatar {width:310px; position:absolute; left:50%; bottom:0; margin-left:-155px;}

.candidate .name {width:75px; height:75px; position:absolute; bottom:48px; left:50%; margin-left:-44px; 
border-radius:100%; border:6px solid #fff;
}
.candidate .name img {width:100%;}

.emblem {width:130px; height:130px; position:absolute; left:50%; margin-left:-65px; 
background-image:url("../images/emblem.png"); background-size:100% auto;
transition:600ms; top:50px; opacity:0;
transition-property:top,opacity; 
pointer-events:none; 
}
.candidate.active .emblem {top:-100px; opacity:1;}

/*--- candidate: counter ---*/
.counter {min-width:135px; height:31px; display:inline-block; margin:0 auto; padding:0 7px; position:relative; top:314px;
background-color:#2f2f42; border:7px solid #111; border-top-width:6px;
}
.counter:before,.counter:after {content:""; display:block; width:0; height:0; position:absolute; bottom:-26px;
border-style:solid; border-width:20px 14px 0 14px; border-color:#0d0d06 transparent transparent transparent;
}
.counter:before {left:-7px;}
.counter:after {right:-7px;}

.counter .count {position:relative;
color:#e95b64; font-size:20px; line-height:36px; text-align:center; white-space:nowrap;
font-family:"Press Start 2P";
}
.counter .bottom {width:calc(100% - 14px); height:20px; position:absolute; left:7px; bottom:-26px;
background-color:#0d0d06;
}


/* --- transform origin ---*/
.controller.left {transform-origin:left bottom;}
.controller.right {transform-origin:right bottom;}
.candidate-scalewpr {transform-origin:center bottom;}
.curtains.left {transform-origin:left top;}
.curtains.right {transform-origin:right top;}
.flag.left {transform-origin:left top;}
.flag.right {transform-origin:right top;}

/* --- transform scale ---*/
.audience {background-size:1920px auto;}
.flag {transform:scale(0.95);}
.candidate-scalewpr {transform:scale(0.92);}


/* --- size detection ---*/
.detecion {position:fixed; left:5px; bottom:5px; pointer-events:none; z-index:10000; opacity:1;
font-family:Tahoma; font-size:13px; line-height:15px; text-align:left; color:#01458e;
}
.zc {position:fixed; left:0; top:0; pointer-events:none;}
#zw {width:100%; height:0;}
#zh {width:0; height:100%;}







