@charset "utf-8";
/*--- reset ---*/
body,dl,dt,dd,ul,ol,li,th,td,form,input,textarea,p {margin:0; padding:0;}
img {display:block; border:0;}
li {list-style:none}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
article,aside,canvas,figure,figure img,figcaption,footer,header,hgroup,menu,nav,section,audio,video {display:block; margin:0; padding:0;}

/*--- global ---*/
html {overflow-y:scroll;}
body {text-align:center; font-size:16px; line-height:1.5; 
}
h1,h2,h3,h4,h5,h6 {margin:0;}
p {text-align:justify; text-justify:distribute;}
table {border-collapse:collapse; border-spacing:0; table-layout:fixed; border:1px solid #000;}
th {border:1px solid #000;}
td {border:1px solid #000;}
a {outline:none; text-decoration:none;}
.clear {clear:both;}
input {vertical-align:middle;}

/* layout */
.outerwpr { 
background-color:#f8f3d6;
font-size:18px; line-height:1.6; text-align:center;
font-family:"微軟正黑體", "Microsoft JhengHei", sans-serif;
}

h1,h2,h3,h4,h5,h6 {margin:0; padding:0; line-height:1.2;}
h3 {margin-bottom:15px; font-size:22px;}
p {text-align:left; margin-top:0; margin-bottom:20px;
text-align:justify; text-justify:distribute;
}
article.single .section p {text-align:center; margin-bottom:20px;}

/* opening */
.opening {min-height:100vh; position:relative;
display:flex; justify-content:center; align-items:center;
background-color:#ba8a00;
background-image:url("../images/bg-opening.png");  
background-position:center center;
background-repeat:no-repeat;  
}
.opening--center {max-width:700px; margin:0 auto; padding:0 15px;}

.opening--title {font-size:56px; color:#fff; font-weight:bold;
margin-bottom:20px;
}
.opening--letter {padding:60px 100px;
font-size:20px;  
background-color:#f8f3d6;
box-shadow:0 2px 6px rgba(0,0,0,0.3);
}
.opening--letter p {margin-bottom:30px;}
.opening .choices li {
font-size:28px;
background-color:#c32f36;
}
.opening .choices li:hover {
background-color:#ba272d;
}

/* topbtn */
.topbtnwpr {position:fixed; left:10px; top:10px; z-index:999;}
.topbtn {display:block; width:42px; height:42px;
float:left; border-radius:50%; cursor:pointer;
background-image:url("../images/navbtn.png");  
background-size:100px auto;
background-repeat:no-repeat;  
}
.topbtn.mirrormedia {margin-right:10px;
background-color:#4e4e4e;
background-position:0 0px;  
}
.topbtn.share {
background-color:#fff;
background-position:-58px 0;  
}

/* content */
article {min-height:100vh; margin:0 auto; padding:0 15px; 
position:relative; overflow:hidden;
max-width:1300px; 
display:flex; justify-content:center;
align-content:center;  
}
article:after {content:""; display:table; clear:both;}
article.single {display:flex; justify-content:center;
align-items:center;
}

article.opening {padding:0; max-width:none; overflow:auto;}

.stork {width:438px; height:312px;
position:fixed; left:20px; bottom:0;  
background-image:url("../images/bg-stork.png");  
background-size:100% auto;
background-repeat:no-repeat;  
background-position:0 0; 
pointer-events:none;  
}

.section {padding:30px 15px; align-self:center;
width:50%; float:left; float:none;
box-sizing:border-box; 
position:relative;  
}
.single .section {width:auto; float:none; margin-top:-80px;}

.section.option {top:-40px;}
.section.desc {padding:60px 15px 60px 0;}

p.feedback {margin-bottom:50px; padding-top:30px; padding-top:0;
font-size:18px; font-weight:bold;
text-align:center;
}
.single p.feedback {padding-top:0; margin-bottom:30px;}
.feedback .count {font-size:25px; color:#ba8a00; margin:0 8px;}
p.feedback br {display:none;}

.question {margin-bottom:20px;
font-size:32px; font-weight:bold; line-height:1.2;
}

/* option */
.choices {padding-left:0; text-align:center;
font-size:0; line-height:0;
}
.choices li {list-style:none; display:inline-block; margin:5px;
padding:16px 20px; font-size:22px; line-height:1.2;
color:#fff; font-weight:bold;
background-color:#e1ba2e; border-radius:6px;  
cursor:pointer;  
}
.choices li:hover {background-color:#ba8b01;}

.desc .choices {padding:20px 0; display:none;}

/* continue */
.continue {width:141px; height:196px; margin:-20px auto -76px auto;
cursor:pointer;    
background-image:url("../images/icon-continue.png");
background-repeat:no-repeat; background-size:100% auto;
}

/* article link */
/* .article {position:relative; margin-bottom:40px; padding-top:10px;
font-size:0; line-height:0; 
}
.article br {display:none;}
.article a {display:inline-block; width:80px; height:80px; margin:0 13px; 
position:relative; vertical-align:middle; text-decoration:none;
background-color:#d9bd68; border-radius:50%; 
background-image:url("../images/icon-article.png");  
background-size:auto 58.4px;
background-repeat:no-repeat;  
background-position:0 0;   
transition:300ms; transition-property:transform;  
}
.article a:before {content:""; display:block; width:100%; height:100%;
position:absolute; left:0; bottom:-25px;
}
.article a:hover {transform:scale(1.2);}

.article .a1 {background-position:22px 10px; margin-left:0;}
.article .a2 {background-position:-94px 11px;}
.article .a3 {background-position:-213px 13px;}
.article .a4 {background-position:-330px 12px; margin-right:0;}

.article .band {width:100%; height:36px;
position:absolute; left:0; top:50%; margin-top:-18px;  
background-color:#ba8920;
}
.article .band:before,.article .band:after {
content:""; display:block; width:0; height:0;
border-style:solid;
position:absolute; top:-4px;
}
.article .band:before {border-width:22px 0 22px 16px;
border-color:transparent transparent transparent #f6f2d5;
left:-3px;
}
.article .band:after {border-width:22px 16px 22px 0;
border-color:transparent #f6f2d5 transparent transparent;
right:-3px;
}

.article p {position:absolute; left:0; bottom:-25px; width:100%; 
margin-bottom:0 !important;
font-size:16px; line-height:1.2; text-align:center;
color:#333; font-weight:bold;
} */

/* table style */
.tablewpr {margin-bottom:20px;}
.tablewpr table {width:100%;
border:none;  
border-collapse:collapse; border-spacing:0;
}
.tablewpr tr,.tablewpr th,.tablewpr td {border:none; }
.tablewpr th {padding:7px 12px;
font-size:18px; font-weight:bold;  
border-bottom:1px solid #bcb8ac;
}
.tablewpr td {padding:7px 12px;
font-size:15px;
border-bottom:1px solid #bcb8ac;  
}
.tablewpr tr:last-of-type td {border-bottom:none;}
.source {margin-bottom:0;
font-size:15px;  
text-align:center; color:#817f82;
}

.tablewpr td strong {display:inline-block; padding:0 8px;
background-color:#fbe388;  
box-shadow:0 0 0 2px #fbe388; border-radius:2px;
}

.m13 td:first-child {font-weight:bold;}
.m16 td:first-child {font-weight:bold;}
.m25 td:first-child {font-weight:bold;}
.m271 td:first-child {font-weight:bold;}

/* article: layout */
.articlewpr {padding:50px 0;
font-size:18px; line-height:1.8; text-align:center;
font-family:"微軟正黑體", "Microsoft JhengHei", sans-serif;
text-align:left; 
background-color:#f8f3d6;
}

.articlewpr section {padding:40px; max-width:1400px; margin:0 auto;  
box-sizing:border-box;
display:flex;
background-color:#f8f3d6;
}
.articlewpr section:after {content:""; display:table; clear:both;}

/* .text-container {max-width:600px; margin:0 auto;} */

.articlewpr h1 {margin-bottom:30px;
font-size:50px; font-weight:bold; color:#bb8a01; text-align:center;
}

.articlewpr h2 {margin-bottom:20px;
font-size:30px; font-weight:bold;
}
.articlewpr h3 {font-size:20px; margin-bottom:10px;}

.articlewpr ul {margin-left:18px;}
.articlewpr ul li {list-style:disc;}

/* article: chart */
.chart-container {flex:1;}
.text-container {width:400px; margin-left:40px;}

.ratiowpr {position:relative;
height:0; overflow:hidden; padding-bottom:60%;
}

.m17 .ratiowpr {padding-bottom:85%;}

.ratiowpr iframe {position:absolute; left:0; top:0;
width:100%; height:100%;
}

/* article: intro */
.intro-container {padding:40px 60px 20px 60px;
background-color:#dabc62;
}



/* article page top btn */
.topbtn.menuTrigger {position:fixed; right:10px; top:10px; z-index:1001; 
background-image:none; display:none;
background-color:#4e4e4e;
}
.menuTrigger .icon {width:22px; height:3px; position:absolute; left:50%; top:50%;
margin-left:-11px; margin-top:-1px;
background-color:#fff; border-radius:2px;
transition:300ms; transition-property:transform;
pointer-events:none;
}
.menuTrigger .icon:before,.menuTrigger .icon:after {content:""; display:block;
width:22px; height:3px; position:absolute; left:0;
background-color:#fff; border-radius:2px;
}
.menuTrigger .icon:before {top:-7px;}
.menuTrigger .icon:after {bottom:-7px;}

.menuTrigger:hover .icon {transform:rotate(-90deg);}


/* article page marker */
.markerwpr {position:fixed; left:20px; top:0; width:60px; height:100vh;
display:flex; flex-direction:column; justify-content:center;
}
.marker {position:relative; padding:48px 0;}
.marker--btn {display:block; width:60px; height:60px; margin:20px 0; 
position:relative; text-decoration:none; cursor:pointer;
background-color:#d9bd68; border-radius:50%; 
background-image:url("../images/icon-article.png");  
background-size:auto 44px;
background-repeat:no-repeat;  
background-position:0 0;   
transition:300ms; transition-property:transform;  
}
.marker--btn:hover {transform:scale(1.1);}

.marker--btn.m1 {background-position:16px 8px; margin-top:0;}
.marker--btn.m2 {background-position:-71px 9px;}
.marker--btn.m3 {background-position:-161px 10px;}
.marker--btn.m4 {background-position:-249px 10px; margin-bottom:0;}

.marker--btn.current {cursor:default;
transform:scale(1.1);
box-shadow:0 0 0 5px #b98a00;
}

.marker--band {width:30px; height:100%;
position:absolute; left:50%; top:0; margin-left:-15px;
background-color:#ba8920;
}
.marker--band:before,.marker--band:after {
content:""; display:block; width:0; height:0;
border-style:solid;
position:absolute; left:0;
}
.marker--band:before {border-width:10px 15px 0 15px;
border-color:#f6f2d5 transparent transparent transparent;
top:0;
}
.marker--band:after {border-width:0 15px 10px 15px;
border-color:transparent transparent #f6f2d5 transparent;
bottom:0;
}

.marker--btn p {display:none;}


/* media query */
@media only screen and (max-width : 1000px) {
    
    article {display:block;}
    .section {padding:0; width:auto; float:none;}
    .section.option {top:0;}
    .section.desc {padding:0;}
    
    .section .choices {display:none;}
    .single .choices {display:block;}
    .desc .choices {display:block;}
    
    p {margin-bottom:10px;}
    p.feedback {margin-bottom:20px;}
    .single p.feedback {margin-bottom:20px;}
    
}

@media only screen and (max-width : 800px) {

    .opening--title {font-size:50px;}
    .opening--letter {padding:60px 70px;}
    
    h3 {margin-bottom:10px;}

    /* article page */
    .articlewpr {padding:62px 30px 30px 30px;}
    .articlewpr section {padding:0; display:block;}
    .text-container {margin-left:0; max-width:none; width:auto;}

    .articlewpr h1,
    .articlewpr h2,
    .articlewpr h3 {text-align:left;}
    .articlewpr p {margin-bottom:20px;}

    .articlewpr p.source {text-align:left;}
    
    /* article page selector */
    .topbtn.menuTrigger {display:block;}
    .markerwpr {width:48px; left:auto; right:7px; top:7px;
        display:block; height:auto;
    } 
    .marker {padding:0;}
    .marker--band {display:none;}

    .marker--btn {width:48px; height:48px; margin:0;
        background-size:auto 36px;
        position:absolute; left:0; top:0; opacity:0;
        transition:400ms; transition-property:opacity,top;
    }
    .marker--btn:hover {transform:none;}

    .marker--btn.current {
        transform:none;
        box-shadow:0 0 0 5px #b98a00;
    }

    .marker--btn.m1 {background-position:12px 5px;}
    .marker--btn.m2 {background-position:-60px 6px;}
    .marker--btn.m3 {background-position:-133px 7px;}
    .marker--btn.m4 {background-position:-204px 8px;}

    .active .marker--btn {opacity:1;}
    .active .marker--btn.m1 {top:60px;}
    .active .marker--btn.m2 {top:118px;}
    .active .marker--btn.m3 {top:176px;}
    .active .marker--btn.m4 {top:234px;}
    
    
}

@media only screen and (max-width : 700px) {

    .pdb-root {font-size:17px;}
    
    .stork {left:0; width:300px;
    background-position:0 bottom;
    }
    
    .opening {background-size:80% auto;
    background-position:center 40px;
    }
    .opening--center {padding-top:70px;}
    .opening--title {font-size:40px;}
    .opening--letter {padding:40px 30px; font-size:17px;}
    .opening--letter p {margin-bottom:20px;}
    .opening .choices li {font-size:24px;}
    
    .question {font-size:28px;}
    .choices li {padding:12px 20px; font-size:18px;}
    
    .section {padding:0;}  
    p.feedback {padding-top:40px; font-size:16px; margin-bottom:15px;
        line-height:1.2;
    }
    .single p.feedback {margin-bottom:15px;}
    h3 {font-size:20px;}
    
    .article .band {display:none;}
    .article br {display:block;}
    .article a {margin:0 20px;}
    .article .a1 {margin-bottom:45px;}
    .article .a2 {margin-right:0; margin-bottom:45px;}
    .article .a3 {margin-left:0;}
    
}

@media only screen and (max-width : 400px) {

    .opening--center {padding-left:10px; padding-right:10px;}
    .opening--title {font-size:34px;}
    .opening--letter {padding:30px 20px;}
    .question {font-size:24px;}
    
    article {padding:0 10px;}
    h3 {font-size:18px;}
    p.feedback {font-weight:normal;}
    p.feedback br {display:block;}
    
    .choices li {padding:10px 16px; margin:3px;
    font-weight:normal; font-size:16px;
    }

}

/* test menu */
#testmenu {position:fixed; left:-152px;; bottom:0;
width:140px; height:100vh; z-index:1000; padding:0 6px;
display:flex; flex-direction:column; align-items:center;
justify-content:center;  
background-color:#021631;  
transition:400ms; transition-property:left;  
}
#testmenu:hover {left:0;}

#testmenu:after {content:""; display:block; width:60px; height:100vh;
position:fixed; left:0; top:0;
}

#testmenu li {display:block; float:left; padding:2px; margin:0;
font-size:13px; text-align:left; color:#195f86;
background-color:transparent;
position:relative; z-index:100;
}
#testmenu li:hover {color:#2ecbf8;}

#testmenu li.table {color:#e1ba2e;}
#testmenu li.table:hover {color:#ffc500;}

#testmenu li.chart {color:#d82665;}
#testmenu li.chart:hover {color:#f92672;}

#testmenu p {margin:0; font-size:13px; text-align:center;
font-weight:bold;
}
#testmenu p.table {color:#e1ba2e;margin-bottom:10px;}
#testmenu p.chart {color:#d82665;}

#currentPage {width:100%; margin-top:10px;
font-size:13px; color:#eee;  
background-color:#0d3a5b; border-radius:2px; 
}



